@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import "./assets/fonts/RoadRadio/roadradio_font.css";

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

#root {
  background-color: #f2f2f2;
}

button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-align: unset;
  background: unset;
}

sup {
  font-size: 16px;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

section, .footer-content-body {
  transform: scale(0.9);
}

@media only screen and (max-width: 900px) {
  section, .footer-content-body {
    transform: none;
  }
}

* {
  scroll-behavior: smooth !important;
}

.use-slider-mask-clip {
  /*noinspection CssInvalidPropertyValue*/
  clip-path: path('M0 374V22.4996C0 10.3566 9.83832 0.509944 21.9813 0.499601L608.5 0H1198.07C1204.96 0 1211.44 3.22087 1215.6 8.70425L1228.53 25.7434C1231.43 29.5686 1233 34.238 1233 39.0392V76.1937V292.335V374C1233 386.15 1223.15 396 1211 396H951H763H22C9.84974 396 0 386.15 0 374Z');
}