@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import "./assets/fonts/RoadRadio/roadradio_font.css";

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

button {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}